html, body {
  height: 100%;
}

#main {
  bottom: 0;
  top: 60px;
  right: 0;
  position: absolute;
  left: 0;
}

div[data-role=page] {
  height: 100%;
}

img {
  height: 50px;
  padding-left: 20px;
}

.login-form {
	padding: 0 15%;
}

.chat-view {
  height: 100%;
  padding: 20px;
}

.chat-view__messages {
  position: relative;
  overflow: auto;
  height: calc(100% - 150px);
}

.chat-view__new-message {
  position: relative;
  overflow: auto;
  padding-bottom: 5px !important;
  height: 120px;
}

.row-action-primary + .message-item {
  width: calc(100% - 92px) !important;
  height: 60px;
}

 .message-item {
  width: 100% !important;
  min-height: 25px !important;
}

@media (max-width: 600px) {
  .navbar-nav {
    margin: 7.5px 0 !important;
  }

  .chat-view__messages {
    padding: 5px !important;
    margin: 0 !important;
    height: calc(100% - 110px);
    font-size: 12px;
  }

  .row-action-primary {
    display: none !important;
  }

  .list-group-item-heading {
    font-size: 15px !important;
    height: 20px !important;
  }

  .list-group-separator:before {
    width: 100% !important;
  }

  .message-item {
    display: block;
    width: 100% !important;
    height: 40px !important;
  }

  .chat-view {
    padding: 0 !important;
    margin: 0 !important;
  }

  .chat-view__new-message {
    padding: 5px !important;
    margin-bottom: 0 !important;
    margin-top: 10px;
    height: 100px;
  }
}